body {
    background-color: #333333;
   // padding-bottom: 1000px;

}



.jumbotron {

   margin-index: cover;
   background-size: cover;
    height: 350px;
    color: white;
    background-image: url("photo.jpg");
    text-align: left;

}

.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}



/* #main{
 position: fixed;
    left :0;
    top: 2px;
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

} */