<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'blog/css/add_post.css' %}" rel="stylesheet">
</head>
<body>
    <div id ="div1">
        <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea rows="3" cols="150" name="title"></textarea>
        <textarea rows="20" cols="150" name="content"></textarea>
        <p>Img file</p>
        <input name="img" type="file" >
        <p>Is Published</p>
        <input name="is_published" type="checkbox" value="True">
        <input type="submit">

        </form>
    </div>
</body>
</html>